<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <title>About</title>
</head>

<body>
  {{>header}}
    <hr>
  <img class="portrait" src="/img/me.jpg" alt="me">
  <p>This site created by Alex. It uses data from mapbox.com and darksky.net!</p>
  <hr>
  {{>footer}}
</body>

</html>
